#container main {
  margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 16px;
}

#container {
	margin-bottom: 20px;
	clear: both;
	border-radius: 5px;
}

h1 {
  font-size: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
