#container main {
  margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 16px;
}

#container {
	margin-bottom: 20px;
	clear: both;
	border-radius: 5px;
}

#padding {
  background-color: #dddddd;
  width: 750px;
  padding: 25px;
}

#pad1 {
  position: absolute;
  top: 60px;
  left: 790px;
  background-color: #dddddd;
  width: 350px;
  padding: 25px;
}

#pad2 {
  position: absolute;
  top: 60px;
  left: 1160px;
  background-color: #dddddd;
  width: 350px;
  padding: 25px;
}

#pad3 {
  position: absolute;
  top: 170px;
  left: 790px;
  background-color: #dddddd;
  width: 350px;
  padding: 25px;
}

#pad4 {
  position: absolute;
  top: 170px;
  left: 1160px;
  background-color: #dddddd;
  width: 350px;
  padding: 25px;
}

#pad5 {
  position: absolute;
  top: 170px;
  left: 1160px;
  background-color: #dddddd;
  width: 720px;
  padding: 25px;
}

mons {
  font-size: 25px;
  color: #1370db;
}

h1 {
  font-size: 30px;
}

a:link {
  color: #1370db;
}

a:visited {
  color: #1370db;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
